@keyframes heartBounce {
  0% {}
  25% {
    transform: scale(2, 2)
  }

  50% {
    transform: scale(1, 1)
  }
}

@keyframes heartFlutter1 {
  0% {
    opacity: 0.8
  }

  100% {
    bottom: 33px;
    margin-left: 5px;
    opacity: 0;
    transform: rotate(9deg)
  }
}

@keyframes heartFlutter2 {
  0% {
    opacity: 0.8
  }
  
  100% {
    bottom: 55px;
    margin-left: 5px;
    opacity: 0;
    transform: rotate(14deg)
  }
}

@keyframes heartFlutter3 {
  0% {
    opacity: 0.8
  }
  
  100% {
    bottom: 43px;
    margin-left: -8px;
    opacity: 0;
    transform: rotate(19deg)
  }
}

$ico-out: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9852 21.523C11.6798 21.523 11.3855 21.4125 11.1561 21.2116C10.2897 20.4543 9.45434 19.7427 8.71738 19.115L8.71363 19.1117C6.55293 17.2712 4.68709 15.6818 3.38888 14.1161C1.93765 12.3657 1.26172 10.7061 1.26172 8.89308C1.26172 7.13159 1.86599 5.50648 2.96313 4.31694C4.07334 3.11333 5.5967 2.45044 7.25311 2.45044C8.49112 2.45044 9.6249 2.84168 10.6228 3.61315C11.1265 4.00259 11.583 4.47918 11.9852 5.03511C12.3876 4.47918 12.8439 4.00259 13.3477 3.61315C14.3457 2.84165 15.4794 2.45044 16.7175 2.45044C18.3737 2.45044 19.8972 3.11333 21.0074 4.31694C22.1046 5.50648 22.7087 7.13159 22.7087 8.89308C22.7087 10.7061 22.0329 12.3657 20.5817 14.1159C19.2835 15.6818 17.4178 17.271 15.2574 19.1114C14.5191 19.7401 13.6825 20.4529 12.8141 21.2119C12.5849 21.4125 12.2903 21.523 11.9852 21.523ZM7.25304 3.7062C5.95169 3.7062 4.75623 4.22533 3.88657 5.16807C3.00395 6.12503 2.51782 7.44789 2.51782 8.89304C2.51782 10.4179 3.0848 11.7816 4.35602 13.3148C5.5847 14.7968 7.41225 16.3535 9.52827 18.1561L9.5322 18.1593C10.272 18.7895 11.1105 19.5039 11.9833 20.2668C12.8613 19.5025 13.7012 18.7869 14.4425 18.1557C16.5584 16.3532 18.3857 14.7968 19.6144 13.3148C20.8854 11.7816 21.4524 10.4179 21.4524 8.89304C21.4524 7.44785 20.9663 6.12503 20.0837 5.16807C19.2142 4.22533 18.0185 3.7062 16.7174 3.7062C15.7641 3.7062 14.8888 4.00911 14.116 4.60641C13.4273 5.13897 12.9475 5.81215 12.6662 6.2832C12.5216 6.52542 12.267 6.67001 11.985 6.67001C11.7031 6.67001 11.4485 6.52542 11.3039 6.2832C11.0228 5.81215 10.543 5.13897 9.85411 4.60641C9.08141 4.00914 8.20617 3.7062 7.25304 3.7062Z' fill='rgb(0, 182, 247)'/%3E%3C/svg%3E%0A");
$ico: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.1561 21.2116C11.3855 21.4125 11.6798 21.523 11.9852 21.523C12.2903 21.523 12.5849 21.4125 12.8141 21.2119C13.6825 20.4529 14.5191 19.7401 15.2574 19.1114L15.2582 19.1107C17.4182 17.2707 19.2836 15.6816 20.5817 14.1159C22.0329 12.3657 22.7087 10.7061 22.7087 8.89308C22.7087 7.13159 22.1046 5.50648 21.0074 4.31694C19.8972 3.11333 18.3737 2.45044 16.7175 2.45044C15.4795 2.45044 14.3457 2.84165 13.3477 3.61315C12.8439 4.00259 12.3876 4.47918 11.9852 5.03511C11.583 4.47918 11.1265 4.00259 10.6229 3.61315C9.6249 2.84168 8.49112 2.45044 7.25311 2.45044C5.5967 2.45044 4.07334 3.11333 2.96313 4.31694C1.86599 5.50648 1.26172 7.13159 1.26172 8.89308C1.26172 10.7061 1.93765 12.3657 3.38888 14.1161C4.68709 15.6818 6.55293 17.2712 8.71363 19.1117L8.71738 19.115C9.45434 19.7427 10.2897 20.4543 11.1561 21.2116Z' fill='rgb(0, 182, 247)'/%3E%3C/svg%3E%0A");
$ico-white: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9852 21.523C11.6798 21.523 11.3855 21.4125 11.1561 21.2116C10.2897 20.4543 9.45434 19.7427 8.71738 19.115L8.71363 19.1117C6.55293 17.2712 4.68709 15.6818 3.38888 14.1161C1.93765 12.3657 1.26172 10.7061 1.26172 8.89308C1.26172 7.13159 1.86599 5.50648 2.96313 4.31694C4.07334 3.11333 5.5967 2.45044 7.25311 2.45044C8.49112 2.45044 9.6249 2.84168 10.6228 3.61315C11.1265 4.00259 11.583 4.47918 11.9852 5.03511C12.3876 4.47918 12.8439 4.00259 13.3477 3.61315C14.3457 2.84165 15.4794 2.45044 16.7175 2.45044C18.3737 2.45044 19.8972 3.11333 21.0074 4.31694C22.1046 5.50648 22.7087 7.13159 22.7087 8.89308C22.7087 10.7061 22.0329 12.3657 20.5817 14.1159C19.2835 15.6818 17.4178 17.271 15.2574 19.1114C14.5191 19.7401 13.6825 20.4529 12.8141 21.2119C12.5849 21.4125 12.2903 21.523 11.9852 21.523ZM7.25304 3.7062C5.95169 3.7062 4.75623 4.22533 3.88657 5.16807C3.00395 6.12503 2.51782 7.44789 2.51782 8.89304C2.51782 10.4179 3.0848 11.7816 4.35602 13.3148C5.5847 14.7968 7.41225 16.3535 9.52827 18.1561L9.5322 18.1593C10.272 18.7895 11.1105 19.5039 11.9833 20.2668C12.8613 19.5025 13.7012 18.7869 14.4425 18.1557C16.5584 16.3532 18.3857 14.7968 19.6144 13.3148C20.8854 11.7816 21.4524 10.4179 21.4524 8.89304C21.4524 7.44785 20.9663 6.12503 20.0837 5.16807C19.2142 4.22533 18.0185 3.7062 16.7174 3.7062C15.7641 3.7062 14.8888 4.00911 14.116 4.60641C13.4273 5.13897 12.9475 5.81215 12.6662 6.2832C12.5216 6.52542 12.267 6.67001 11.985 6.67001C11.7031 6.67001 11.4485 6.52542 11.3039 6.2832C11.0228 5.81215 10.543 5.13897 9.85411 4.60641C9.08141 4.00914 8.20617 3.7062 7.25304 3.7062Z' fill='rgb(255,255,255)'/%3E%3C/svg%3E%0A");
$ico-hover: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9852 21.523C11.6798 21.523 11.3855 21.4125 11.1561 21.2116C10.2897 20.4543 9.45434 19.7427 8.71738 19.115L8.71363 19.1117C6.55293 17.2712 4.68709 15.6818 3.38888 14.1161C1.93765 12.3657 1.26172 10.7061 1.26172 8.89308C1.26172 7.13159 1.86599 5.50648 2.96313 4.31694C4.07334 3.11333 5.5967 2.45044 7.25311 2.45044C8.49112 2.45044 9.6249 2.84168 10.6228 3.61315C11.1265 4.00259 11.583 4.47918 11.9852 5.03511C12.3876 4.47918 12.8439 4.00259 13.3477 3.61315C14.3457 2.84165 15.4794 2.45044 16.7175 2.45044C18.3737 2.45044 19.8972 3.11333 21.0074 4.31694C22.1046 5.50648 22.7087 7.13159 22.7087 8.89308C22.7087 10.7061 22.0329 12.3657 20.5817 14.1159C19.2835 15.6818 17.4178 17.271 15.2574 19.1114C14.5191 19.7401 13.6825 20.4529 12.8141 21.2119C12.5849 21.4125 12.2903 21.523 11.9852 21.523ZM7.25304 3.7062C5.95169 3.7062 4.75623 4.22533 3.88657 5.16807C3.00395 6.12503 2.51782 7.44789 2.51782 8.89304C2.51782 10.4179 3.0848 11.7816 4.35602 13.3148C5.5847 14.7968 7.41225 16.3535 9.52827 18.1561L9.5322 18.1593C10.272 18.7895 11.1105 19.5039 11.9833 20.2668C12.8613 19.5025 13.7012 18.7869 14.4425 18.1557C16.5584 16.3532 18.3857 14.7968 19.6144 13.3148C20.8854 11.7816 21.4524 10.4179 21.4524 8.89304C21.4524 7.44785 20.9663 6.12503 20.0837 5.16807C19.2142 4.22533 18.0185 3.7062 16.7174 3.7062C15.7641 3.7062 14.8888 4.00911 14.116 4.60641C13.4273 5.13897 12.9475 5.81215 12.6662 6.2832C12.5216 6.52542 12.267 6.67001 11.985 6.67001C11.7031 6.67001 11.4485 6.52542 11.3039 6.2832C11.0228 5.81215 10.543 5.13897 9.85411 4.60641C9.08141 4.00914 8.20617 3.7062 7.25304 3.7062Z' fill='rgb(255, 161, 1)'/%3E%3C/svg%3E%0A");

$ico-lg-out: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9852 21.523C11.6798 21.523 11.3855 21.4125 11.1561 21.2116C10.2897 20.4543 9.45434 19.7427 8.71738 19.115L8.71363 19.1117C6.55293 17.2712 4.68709 15.6818 3.38888 14.1161C1.93765 12.3657 1.26172 10.7061 1.26172 8.89308C1.26172 7.13159 1.86599 5.50648 2.96313 4.31694C4.07334 3.11333 5.5967 2.45044 7.25311 2.45044C8.49112 2.45044 9.6249 2.84168 10.6228 3.61315C11.1265 4.00259 11.583 4.47918 11.9852 5.03511C12.3876 4.47918 12.8439 4.00259 13.3477 3.61315C14.3457 2.84165 15.4794 2.45044 16.7175 2.45044C18.3737 2.45044 19.8972 3.11333 21.0074 4.31694C22.1046 5.50648 22.7087 7.13159 22.7087 8.89308C22.7087 10.7061 22.0329 12.3657 20.5817 14.1159C19.2835 15.6818 17.4178 17.271 15.2574 19.1114C14.5191 19.7401 13.6825 20.4529 12.8141 21.2119C12.5849 21.4125 12.2903 21.523 11.9852 21.523ZM7.25304 3.7062C5.95169 3.7062 4.75623 4.22533 3.88657 5.16807C3.00395 6.12503 2.51782 7.44789 2.51782 8.89304C2.51782 10.4179 3.0848 11.7816 4.35602 13.3148C5.5847 14.7968 7.41225 16.3535 9.52827 18.1561L9.5322 18.1593C10.272 18.7895 11.1105 19.5039 11.9833 20.2668C12.8613 19.5025 13.7012 18.7869 14.4425 18.1557C16.5584 16.3532 18.3857 14.7968 19.6144 13.3148C20.8854 11.7816 21.4524 10.4179 21.4524 8.89304C21.4524 7.44785 20.9663 6.12503 20.0837 5.16807C19.2142 4.22533 18.0185 3.7062 16.7174 3.7062C15.7641 3.7062 14.8888 4.00911 14.116 4.60641C13.4273 5.13897 12.9475 5.81215 12.6662 6.2832C12.5216 6.52542 12.267 6.67001 11.985 6.67001C11.7031 6.67001 11.4485 6.52542 11.3039 6.2832C11.0228 5.81215 10.543 5.13897 9.85411 4.60641C9.08141 4.00914 8.20617 3.7062 7.25304 3.7062Z' fill='rgb(0, 182, 247)'/%3E%3C/svg%3E%0A");
$ico-lg: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.1561 21.2116C11.3855 21.4125 11.6798 21.523 11.9852 21.523C12.2903 21.523 12.5849 21.4125 12.8141 21.2119C13.6825 20.4529 14.5191 19.7401 15.2574 19.1114L15.2582 19.1107C17.4182 17.2707 19.2836 15.6816 20.5817 14.1159C22.0329 12.3657 22.7087 10.7061 22.7087 8.89308C22.7087 7.13159 22.1046 5.50648 21.0074 4.31694C19.8972 3.11333 18.3737 2.45044 16.7175 2.45044C15.4795 2.45044 14.3457 2.84165 13.3477 3.61315C12.8439 4.00259 12.3876 4.47918 11.9852 5.03511C11.583 4.47918 11.1265 4.00259 10.6229 3.61315C9.6249 2.84168 8.49112 2.45044 7.25311 2.45044C5.5967 2.45044 4.07334 3.11333 2.96313 4.31694C1.86599 5.50648 1.26172 7.13159 1.26172 8.89308C1.26172 10.7061 1.93765 12.3657 3.38888 14.1161C4.68709 15.6818 6.55293 17.2712 8.71363 19.1117L8.71738 19.115C9.45434 19.7427 10.2897 20.4543 11.1561 21.2116Z' fill='rgb(0, 182, 247)'/%3E%3C/svg%3E%0A");
$ico-lg-white: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9852 21.523C11.6798 21.523 11.3855 21.4125 11.1561 21.2116C10.2897 20.4543 9.45434 19.7427 8.71738 19.115L8.71363 19.1117C6.55293 17.2712 4.68709 15.6818 3.38888 14.1161C1.93765 12.3657 1.26172 10.7061 1.26172 8.89308C1.26172 7.13159 1.86599 5.50648 2.96313 4.31694C4.07334 3.11333 5.5967 2.45044 7.25311 2.45044C8.49112 2.45044 9.6249 2.84168 10.6228 3.61315C11.1265 4.00259 11.583 4.47918 11.9852 5.03511C12.3876 4.47918 12.8439 4.00259 13.3477 3.61315C14.3457 2.84165 15.4794 2.45044 16.7175 2.45044C18.3737 2.45044 19.8972 3.11333 21.0074 4.31694C22.1046 5.50648 22.7087 7.13159 22.7087 8.89308C22.7087 10.7061 22.0329 12.3657 20.5817 14.1159C19.2835 15.6818 17.4178 17.271 15.2574 19.1114C14.5191 19.7401 13.6825 20.4529 12.8141 21.2119C12.5849 21.4125 12.2903 21.523 11.9852 21.523ZM7.25304 3.7062C5.95169 3.7062 4.75623 4.22533 3.88657 5.16807C3.00395 6.12503 2.51782 7.44789 2.51782 8.89304C2.51782 10.4179 3.0848 11.7816 4.35602 13.3148C5.5847 14.7968 7.41225 16.3535 9.52827 18.1561L9.5322 18.1593C10.272 18.7895 11.1105 19.5039 11.9833 20.2668C12.8613 19.5025 13.7012 18.7869 14.4425 18.1557C16.5584 16.3532 18.3857 14.7968 19.6144 13.3148C20.8854 11.7816 21.4524 10.4179 21.4524 8.89304C21.4524 7.44785 20.9663 6.12503 20.0837 5.16807C19.2142 4.22533 18.0185 3.7062 16.7174 3.7062C15.7641 3.7062 14.8888 4.00911 14.116 4.60641C13.4273 5.13897 12.9475 5.81215 12.6662 6.2832C12.5216 6.52542 12.267 6.67001 11.985 6.67001C11.7031 6.67001 11.4485 6.52542 11.3039 6.2832C11.0228 5.81215 10.543 5.13897 9.85411 4.60641C9.08141 4.00914 8.20617 3.7062 7.25304 3.7062Z' fill='rgb(255,255,255)'/%3E%3C/svg%3E%0A");
$ico-lg-hover: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9852 21.523C11.6798 21.523 11.3855 21.4125 11.1561 21.2116C10.2897 20.4543 9.45434 19.7427 8.71738 19.115L8.71363 19.1117C6.55293 17.2712 4.68709 15.6818 3.38888 14.1161C1.93765 12.3657 1.26172 10.7061 1.26172 8.89308C1.26172 7.13159 1.86599 5.50648 2.96313 4.31694C4.07334 3.11333 5.5967 2.45044 7.25311 2.45044C8.49112 2.45044 9.6249 2.84168 10.6228 3.61315C11.1265 4.00259 11.583 4.47918 11.9852 5.03511C12.3876 4.47918 12.8439 4.00259 13.3477 3.61315C14.3457 2.84165 15.4794 2.45044 16.7175 2.45044C18.3737 2.45044 19.8972 3.11333 21.0074 4.31694C22.1046 5.50648 22.7087 7.13159 22.7087 8.89308C22.7087 10.7061 22.0329 12.3657 20.5817 14.1159C19.2835 15.6818 17.4178 17.271 15.2574 19.1114C14.5191 19.7401 13.6825 20.4529 12.8141 21.2119C12.5849 21.4125 12.2903 21.523 11.9852 21.523ZM7.25304 3.7062C5.95169 3.7062 4.75623 4.22533 3.88657 5.16807C3.00395 6.12503 2.51782 7.44789 2.51782 8.89304C2.51782 10.4179 3.0848 11.7816 4.35602 13.3148C5.5847 14.7968 7.41225 16.3535 9.52827 18.1561L9.5322 18.1593C10.272 18.7895 11.1105 19.5039 11.9833 20.2668C12.8613 19.5025 13.7012 18.7869 14.4425 18.1557C16.5584 16.3532 18.3857 14.7968 19.6144 13.3148C20.8854 11.7816 21.4524 10.4179 21.4524 8.89304C21.4524 7.44785 20.9663 6.12503 20.0837 5.16807C19.2142 4.22533 18.0185 3.7062 16.7174 3.7062C15.7641 3.7062 14.8888 4.00911 14.116 4.60641C13.4273 5.13897 12.9475 5.81215 12.6662 6.2832C12.5216 6.52542 12.267 6.67001 11.985 6.67001C11.7031 6.67001 11.4485 6.52542 11.3039 6.2832C11.0228 5.81215 10.543 5.13897 9.85411 4.60641C9.08141 4.00914 8.20617 3.7062 7.25304 3.7062Z' fill='rgb(255, 161, 1)'/%3E%3C/svg%3E%0A");

$ico-xl-out: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9852 21.523C11.6798 21.523 11.3855 21.4125 11.1561 21.2116C10.2897 20.4543 9.45434 19.7427 8.71738 19.115L8.71363 19.1117C6.55293 17.2712 4.68709 15.6818 3.38888 14.1161C1.93765 12.3657 1.26172 10.7061 1.26172 8.89308C1.26172 7.13159 1.86599 5.50648 2.96313 4.31694C4.07334 3.11333 5.5967 2.45044 7.25311 2.45044C8.49112 2.45044 9.6249 2.84168 10.6228 3.61315C11.1265 4.00259 11.583 4.47918 11.9852 5.03511C12.3876 4.47918 12.8439 4.00259 13.3477 3.61315C14.3457 2.84165 15.4794 2.45044 16.7175 2.45044C18.3737 2.45044 19.8972 3.11333 21.0074 4.31694C22.1046 5.50648 22.7087 7.13159 22.7087 8.89308C22.7087 10.7061 22.0329 12.3657 20.5817 14.1159C19.2835 15.6818 17.4178 17.271 15.2574 19.1114C14.5191 19.7401 13.6825 20.4529 12.8141 21.2119C12.5849 21.4125 12.2903 21.523 11.9852 21.523ZM7.25304 3.7062C5.95169 3.7062 4.75623 4.22533 3.88657 5.16807C3.00395 6.12503 2.51782 7.44789 2.51782 8.89304C2.51782 10.4179 3.0848 11.7816 4.35602 13.3148C5.5847 14.7968 7.41225 16.3535 9.52827 18.1561L9.5322 18.1593C10.272 18.7895 11.1105 19.5039 11.9833 20.2668C12.8613 19.5025 13.7012 18.7869 14.4425 18.1557C16.5584 16.3532 18.3857 14.7968 19.6144 13.3148C20.8854 11.7816 21.4524 10.4179 21.4524 8.89304C21.4524 7.44785 20.9663 6.12503 20.0837 5.16807C19.2142 4.22533 18.0185 3.7062 16.7174 3.7062C15.7641 3.7062 14.8888 4.00911 14.116 4.60641C13.4273 5.13897 12.9475 5.81215 12.6662 6.2832C12.5216 6.52542 12.267 6.67001 11.985 6.67001C11.7031 6.67001 11.4485 6.52542 11.3039 6.2832C11.0228 5.81215 10.543 5.13897 9.85411 4.60641C9.08141 4.00914 8.20617 3.7062 7.25304 3.7062Z' fill='rgb(7, 149, 255)'/%3E%3C/svg%3E%0A");
$ico-xl: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.1561 21.2116C11.3855 21.4125 11.6798 21.523 11.9852 21.523C12.2903 21.523 12.5849 21.4125 12.8141 21.2119C13.6825 20.4529 14.5191 19.7401 15.2574 19.1114L15.2582 19.1107C17.4182 17.2707 19.2836 15.6816 20.5817 14.1159C22.0329 12.3657 22.7087 10.7061 22.7087 8.89308C22.7087 7.13159 22.1046 5.50648 21.0074 4.31694C19.8972 3.11333 18.3737 2.45044 16.7175 2.45044C15.4795 2.45044 14.3457 2.84165 13.3477 3.61315C12.8439 4.00259 12.3876 4.47918 11.9852 5.03511C11.583 4.47918 11.1265 4.00259 10.6229 3.61315C9.6249 2.84168 8.49112 2.45044 7.25311 2.45044C5.5967 2.45044 4.07334 3.11333 2.96313 4.31694C1.86599 5.50648 1.26172 7.13159 1.26172 8.89308C1.26172 10.7061 1.93765 12.3657 3.38888 14.1161C4.68709 15.6818 6.55293 17.2712 8.71363 19.1117L8.71738 19.115C9.45434 19.7427 10.2897 20.4543 11.1561 21.2116Z' fill='rgb(7, 149, 255)'/%3E%3C/svg%3E%0A");
$ico-xl-white: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9852 21.523C11.6798 21.523 11.3855 21.4125 11.1561 21.2116C10.2897 20.4543 9.45434 19.7427 8.71738 19.115L8.71363 19.1117C6.55293 17.2712 4.68709 15.6818 3.38888 14.1161C1.93765 12.3657 1.26172 10.7061 1.26172 8.89308C1.26172 7.13159 1.86599 5.50648 2.96313 4.31694C4.07334 3.11333 5.5967 2.45044 7.25311 2.45044C8.49112 2.45044 9.6249 2.84168 10.6228 3.61315C11.1265 4.00259 11.583 4.47918 11.9852 5.03511C12.3876 4.47918 12.8439 4.00259 13.3477 3.61315C14.3457 2.84165 15.4794 2.45044 16.7175 2.45044C18.3737 2.45044 19.8972 3.11333 21.0074 4.31694C22.1046 5.50648 22.7087 7.13159 22.7087 8.89308C22.7087 10.7061 22.0329 12.3657 20.5817 14.1159C19.2835 15.6818 17.4178 17.271 15.2574 19.1114C14.5191 19.7401 13.6825 20.4529 12.8141 21.2119C12.5849 21.4125 12.2903 21.523 11.9852 21.523ZM7.25304 3.7062C5.95169 3.7062 4.75623 4.22533 3.88657 5.16807C3.00395 6.12503 2.51782 7.44789 2.51782 8.89304C2.51782 10.4179 3.0848 11.7816 4.35602 13.3148C5.5847 14.7968 7.41225 16.3535 9.52827 18.1561L9.5322 18.1593C10.272 18.7895 11.1105 19.5039 11.9833 20.2668C12.8613 19.5025 13.7012 18.7869 14.4425 18.1557C16.5584 16.3532 18.3857 14.7968 19.6144 13.3148C20.8854 11.7816 21.4524 10.4179 21.4524 8.89304C21.4524 7.44785 20.9663 6.12503 20.0837 5.16807C19.2142 4.22533 18.0185 3.7062 16.7174 3.7062C15.7641 3.7062 14.8888 4.00911 14.116 4.60641C13.4273 5.13897 12.9475 5.81215 12.6662 6.2832C12.5216 6.52542 12.267 6.67001 11.985 6.67001C11.7031 6.67001 11.4485 6.52542 11.3039 6.2832C11.0228 5.81215 10.543 5.13897 9.85411 4.60641C9.08141 4.00914 8.20617 3.7062 7.25304 3.7062Z' fill='rgb(7, 149, 255)'/%3E%3C/svg%3E%0A");
$ico-xl-hover: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9852 21.523C11.6798 21.523 11.3855 21.4125 11.1561 21.2116C10.2897 20.4543 9.45434 19.7427 8.71738 19.115L8.71363 19.1117C6.55293 17.2712 4.68709 15.6818 3.38888 14.1161C1.93765 12.3657 1.26172 10.7061 1.26172 8.89308C1.26172 7.13159 1.86599 5.50648 2.96313 4.31694C4.07334 3.11333 5.5967 2.45044 7.25311 2.45044C8.49112 2.45044 9.6249 2.84168 10.6228 3.61315C11.1265 4.00259 11.583 4.47918 11.9852 5.03511C12.3876 4.47918 12.8439 4.00259 13.3477 3.61315C14.3457 2.84165 15.4794 2.45044 16.7175 2.45044C18.3737 2.45044 19.8972 3.11333 21.0074 4.31694C22.1046 5.50648 22.7087 7.13159 22.7087 8.89308C22.7087 10.7061 22.0329 12.3657 20.5817 14.1159C19.2835 15.6818 17.4178 17.271 15.2574 19.1114C14.5191 19.7401 13.6825 20.4529 12.8141 21.2119C12.5849 21.4125 12.2903 21.523 11.9852 21.523ZM7.25304 3.7062C5.95169 3.7062 4.75623 4.22533 3.88657 5.16807C3.00395 6.12503 2.51782 7.44789 2.51782 8.89304C2.51782 10.4179 3.0848 11.7816 4.35602 13.3148C5.5847 14.7968 7.41225 16.3535 9.52827 18.1561L9.5322 18.1593C10.272 18.7895 11.1105 19.5039 11.9833 20.2668C12.8613 19.5025 13.7012 18.7869 14.4425 18.1557C16.5584 16.3532 18.3857 14.7968 19.6144 13.3148C20.8854 11.7816 21.4524 10.4179 21.4524 8.89304C21.4524 7.44785 20.9663 6.12503 20.0837 5.16807C19.2142 4.22533 18.0185 3.7062 16.7174 3.7062C15.7641 3.7062 14.8888 4.00911 14.116 4.60641C13.4273 5.13897 12.9475 5.81215 12.6662 6.2832C12.5216 6.52542 12.267 6.67001 11.985 6.67001C11.7031 6.67001 11.4485 6.52542 11.3039 6.2832C11.0228 5.81215 10.543 5.13897 9.85411 4.60641C9.08141 4.00914 8.20617 3.7062 7.25304 3.7062Z' fill='rgb(255, 161, 1)'/%3E%3C/svg%3E%0A");

.save {
  position: relative;

  &-primary,
  &-secundary,
  &-secundary::before,
  &-secundary::after {
    background-image: $ico-out;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;

    @include media-breakpoint-up(lg) {
      background-image: $ico-lg-out;
      width: 24px;
      height: 24px;
    }
  }

  &-secundary,
  &-primary {
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -9px;
    margin-bottom: -9px;
    z-index: 1;
    content: '';

    @include media-breakpoint-up(lg) {
      margin-left: -12px;
      margin-bottom: -12px;
    }
  }

  &.active {
    .save-primary,
    .save-secundary {
      background-image: $ico !important;

      @include media-breakpoint-up(lg) {
        background-image: $ico-lg !important;
      }
    }
    
    .save-secundary {
      &::after,
      &::before {
        background-image: $ico !important;

        @include media-breakpoint-up(lg) {
          background-image: $ico-lg !important;
        }
      }
    }
  }

  &.animate {
    .save-primary {
      animation-name: heartBounce;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
    }

    .save-secundary {
      animation-duration: 1s;
      animation-delay: 0.3s;
      animation-timing-function: ease-in-out;
      opacity: 0.8;
      background-repeat: no-repeat;
      animation-name: heartFlutter1;

      &::after,
      &::before {
        background-image: $ico-out !important;
        margin: 0 auto;
        display: block;
        position: absolute;
        bottom: 50%;
        left: 50%;
        z-index: 1;
        margin-left: -9px;
        margin-bottom: -9px;
        content: " ";
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-timing-function: ease-in-out;
        opacity: 0.8;
        background-repeat: no-repeat;
        animation-name: heartFlutter2;

        @include media-breakpoint-up(lg) {
          background-image: $ico-lg-out !important;
          margin-left: -12px;
          margin-bottom: -12px;
        }
      }

      &::after {
        animation-name: heartFlutter3
      }
    }
  }

  &.save-lg {
    width: 32px;
    height: 32px;

    .save-primary,
    .save-secundary,
    .save-secundary::before,
    .save-secundary::after {
      background-image: $ico-xl-out;
      width: 32px;
      height: 32px;
    }

    .save-secundary,
    .save-primary {
      margin-left: -16px;
      margin-bottom: -16px;
    }

    &.active {
      .save-primary,
      .save-secundary {
        background-image: $ico-xl !important;
      }
      
      .save-secundary {
        &::after,
        &::before {
          background-image: $ico-xl !important;
        }
      }
    }

    &.animate {
      .save-secundary {
  
        &::after,
        &::before {
          background-image: $ico-xl-out !important;
          margin-left: -16px;
          margin-bottom: -16px;
        }
      }
    }
  }

  &.save-hover {
    &:hover {
      &.save-lg .save-primary, 
      &.save-lg .save-secundary, 
      &.save-lg .save-secundary:after, 
      &.save-lg .save-secundary:before {
        background-image: $ico-xl-hover;
      }
    }
  }
}

.content {
  .item .info-share .circle {
    &:hover {
      .save-primary,
      .save-secundary,
      .save-secundary::before,
      .save-secundary::after {
        background-image: $ico-white;
  
        @include media-breakpoint-up(lg) {
          background-image: $ico-lg-white;
        }
      }
    }
  }

  &-column {
    .save {
      &-primary,
      &-secundary,
      &-secundary::before,
      &-secundary::after {
        background-image: $ico-out;
        width: 18px;
        height: 18px;
      }
    
      &-secundary,
      &-primary {
        margin-left: -9px;
        margin-bottom: -9px;
      }

      &.active {
        .save-primary,
        .save-secundary {
          background-image: $ico;
        }
        
        .save-secundary {
          &::after,
          &::before {
            background-image: $ico;
          }
        }
      }

      &.animate {
        .save-secundary {
          &::after,
          &::before {
            background-image: $ico-out;
            margin-left: -9px;
            margin-bottom: -9px;
          }
        }
      }
    }

    .item .info-share .circle {
      &:hover {
        .save-primary,
        .save-secundary,
        .save-secundary::before,
        .save-secundary::after {
          background-image: $ico-white;
        }
      }
    }
  }
}
